#topBanner {
	font-size: 10px;
	border: solid #001489;
	background-color: #001489;
	color: white;
}
.BBannerTags {
	display: inline-block;
	width: 7vw;
	margin-left: 6vw;
}
#stma {
	margin-left: 6vw;
	padding-right: 40vw
}
.button {
	color: white;
	background-color: #001489;
	border-color: #001489;
	vertical-align: 60px;
}
#inline {
	display: inline-block;
}
.button2 {
	background-color: #FFD400;
	border-color: #FFD400;
	height:20px;
	width:20px;
	vertical-align: 58px;
	display:inline-block;
}
.p {
	font-size: 1vw;
	margin-left: 70vw;
	vetical-align: 10vw;
}
.links {
	display:inline-block;
	background-color: GhostWhite;
	border-color:GhostWhite;
	height: 12vw;
	width:11vw;
	margin:-.3vw
}
.greybar {
	display: inline-block;
	vertical-align: top;
}
.images {
	white-space:nowrap;
	height:100px;
}






